<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.Brotes" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Brotes</name>
    
    <description>
        3 canciones distintas cada día para orar con Brotes de Olivo.
    </description>
    
    <author email="cursofactor@gmail.com" href="http://luisgentil.neocities.org">
        Luis Gentil
    </author>
    
    <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />
    <plugin name="cordova-plugin-file" source="npm" spec="~4.1.1" />
    <platform name="android">    
     <icon src="www/icon.png" density="ldpi" />
    </platform>
    
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" version="1"/>

</widget>
