body{
  background-image: url("../images/denmark_field.jpg");
  background-color: #487aaf;
  color: #eaeded;
  font-family: sans-serif;
}
h1, h2{
	color: #DC143C;
}

h3{
	color:  #F593A7;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

