
/* Add a breakpoint at max-width: 670px */
@media (max-width: 340px) {
body {
    font-size: 0.8em;
}

div {
    border: 2px solid #f1e9e3; /* en desarrollo */
    display: block;
    float: left;
    padding: 5px;
    text-align: center;
    margin: 1px auto;
    width: 100%;
    height: 80px;
    line-height: 10%;
    border-radius: 10px;
}

.titulo {
    height: 80px;
}

.titulo h1 {
    line-height: 80%;
    margin-left: 2px;
    border-top: 5px;
}

.uno {
    padding-top: 15px;
}

.dosMovil {
	display: none;
}

.botones {
    float: left;
    font-weight: bold;
    width: 30%;
    margin-left: 5px;
}

.botonInicial {
	width: 30%;
	margin-left: 5px;
}

.cuatro {
    padding-top: 5px;
}

.disco {
    margin-top: 5px;
}

.cinco {
    padding-top: 5px;
    height: 40px;
}

.seis {
	display: none;
}

.footer p {
	padding-top: 10px;
	margin: 5px auto;
	float: none;
}
